<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">BookBooster</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/library">library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>


<div class="deets-content">
  <div class="deets-div">
    <div class="div-div">
    <img src="{{book.image}}" width="350" height="400"/>
      
      <div class="deets-info">
        <h3 class="mb-3"><u>{{book.title}}</u></h3>
        <h5>Written by:</h5> <i>{{book.author}}</i>
        <p class="deets-p">Summary:</p><p class="m-0"><span class="quotes">"</span>{{book.review}}<span class="quotes">"</span></p>
        <h5>Number of pages left: <span class="pages">{{book.pages}}</span></h5>
        <h5>Rating: <span class="rating">{{book.rating}}</span>/ 10</h5>
        <button class="btn btn-warning">Edit</button>

        <form class="delete-form" action="/details/{{book._id}}/delete" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>  
    </div>
    <form class="deets-form display" action="/details/{{book._id}}" method="post">
      <label>Pages Left:</label>
      <input type="number" name="pages" value="{{book.pages}}">

      <label class="deets-label">Img URL:</label>
      <input class="deets-input" type="text" name="image" value="{{book.image}}">

      <label class="deets-label">Title:</label>
      <input class="deets-input" type="text" name="title" value="{{book.title}}">

      <label class="deets-label">Author:</label>
      <input class="deets-input" type="text" name="author" value="{{book.author}}">

      <label class="deets-label">Description:</label>
      <input class="deets-input" type="text" name="review" value="{{book.review}}">

      <label class="deets-label">Rate:</label>
      <input class="deets-input" type="number" name="rating" value="{{book.rating}}">

      <button class="btn btn-info" type="submit">Update</button>
    </form>
  </div>  
</div>